[user]
	email = d.ebling8@gmail.com
	name = Denílson dos Santos Ebling
	signingkey = CCBC8AA1AF062142

[gpg]
	program = gpg2

[commit]
	gpgSign = true

[diff]
	tool = vimdiff

[pull]
	rebase = true

[push]
	simple = true
	followTags = true

[alias]
	co = checkout
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
	st = status
	stall = stash save --include-untracked
	undo = reset --soft HEAD^

[transfer]
	fsckObjects = true
